$primary: #1eb980;
$secondary: #B15DFF;

$text: #838389;
$text-strong: white;

$background: #32333d;
$foreground: #373740;

$greens: #005d57, #007d51, #1eb980, #37efba;

$red: #ff6859;
$blue: #789BFF;
$yellow: #ffdc78;
