$mdc-theme-primary: #1eb980;
$mdc-theme-secondary: #045d56;
$mdc-theme-background: #32333d;

@import "vue-mdc-adapter/dist/styles";

:root {
  --mdc-layout-grid-margin-desktop: 48px;
  --mdc-layout-grid-gutter-desktop: 48px
}
